@font-face{
  font-family: 'Oxygen';
  src :url(../fonts/oxygen.ttf);
}
@font-face{
  font-family: 'Roboto';
  src :url(../fonts/Roboto.ttf);
}
body{
	/*background:#eee;*/
	font-family: 'Roboto', sans-serif;
}
 a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul{
	padding: 0;
	margin: 0;	
}
h1,h2,h3,h4,h5,h6,label,p{
	font-family: 'Roboto';
  margin: 0;
}
p,.menu,.category,.color{
  font-family: 'Oxygen',sans-serif;
}
.navbar-inverse .navbar-brand{
  color: orange;
  font-size: 1.6em;
}
.navbar-inverse .navbar-brand small{
  color: #fff;
  font-size: .7em;
}
.img-responsive{
  height: 300px;
}
.margin{
  margin-top: 4%;
}
.menu {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
    margin: 1.5em 0;
}
.col-md-2{
  background: #fff;
}
.col-md-10{
  background: #fff; 
}
.pdt{
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdt:hover{
  box-shadow: 0 5px 17px 0 rgba(23,84,116,0.18);
  z-index: 15;
}
a:hover{
  text-decoration: none;
}
h3.cate {
    color: #000;
    border-bottom: 1px solid #000;
    width: 69%;
    font-size: 2em;
    font-family: sans-serif;
}
.of-left {
    border-bottom: 1px solid #000;
}
.name{
  margin:10px auto 6px auto;
  color: orange;
  text-transform: uppercase;
  letter-spacing:1px;

}
.category{
  margin-top: 6px;
}
.color{
  width: 25px;
  height: 25px;
  border-radius: 20px;
}
.color strong{
  margin-left: 35px;
  vertical-align: -webkit-baseline-middle;
}
.description{
  padding-top: 6px;
  height:120px;
}
input[type="submit"]{
  margin-top: 10px;
}
form button{
  margin-top: 10px;
}
@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
}